In [1]:
import pandas as pd

In [2]:
oil1 = pd.read_csv('01.01.2015-07.01.2015-Oil1.csv')
oil2 = pd.read_csv('07.01.2015-01.01.2016-Oil2.csv')
oil3 = pd.read_csv('01.01.2016-07.01.2016-Oil3.csv')
oil4 = pd.read_csv('07.01.2016-01.01.2017-Oil4.csv')
oil5 = pd.read_csv('01.01.2017-04.02.2017-Oil5.csv')

In [3]:
sp1 = pd.read_csv('01.01.2015-07.01.2015-SP1.csv')
sp2 = pd.read_csv('07.01.2015-01.01.2016-SP2.csv')
sp3 = pd.read_csv('01.01.2016-07.01.2016-SP3.csv')
sp4 = pd.read_csv('07.01.2016-01.01.2017-SP4.csv')
sp5 = pd.read_csv('01.01.2017-04.02.2017-SP5.csv')

In [7]:
oil = pd.concat([oil1, oil2, oil3, oil4, oil5])

In [8]:
oil.reset_index()

     index          Date  Price   Open   High    Low     Vol. Change %
0        0  Jan 01, 2015  54.56  53.73  54.85  53.72        -    2.43%
1        1  Jan 02, 2015  52.69  53.76  55.11  52.03  268.71K   -3.44%
2        2  Jan 05, 2015  50.04  52.61  52.73  49.68  375.78K   -5.03%
3        3  Jan 06, 2015  47.93  50.00  50.37  47.55  451.64K   -4.22%
4        4  Jan 07, 2015  48.65  48.00  49.31  46.83  460.08K    1.50%
5        5  Jan 08, 2015  48.79  48.78  49.65  47.73  362.08K    0.29%
6        6  Jan 09, 2015  48.36  48.92  49.61  47.16  421.01K   -0.88%
7        7  Jan 12, 2015  46.07  48.19  48.19  45.62  394.95K   -4.74%
8        8  Jan 13, 2015  45.89  45.69  46.79  44.20  476.54K   -0.39%
9        9  Jan 14, 2015  48.48  46.16  48.91  45.01  510.25K    5.64%
10      10  Jan 15, 2015  46.25  48.60  51.27  46.07  478.34K   -4.60%
11      11  Jan 16, 2015  48.69  46.35  48.87  45.95  175.63K    5.28%
12      12  Jan 18, 2015  48.85  48.95  49.06  48.78        -    0.32%
13      13  Jan 19, 2015  47.78  48.84  49.19  47.64        -   -2.18%
14      14  Jan 20, 2015  46.39  48.69  48.77  45.89   49.74K   -2.91%
15      15  Jan 21, 2015  47.78  46.69  48.20  46.55  340.25K    3.00%
16      16  Jan 22, 2015  46.31  47.35  49.09  45.87  426.83K   -3.08%
17      17  Jan 23, 2015  45.59  46.63  47.76  45.21  374.29K   -1.55%
18      18  Jan 26, 2015  45.15  45.20  46.41  44.35  310.64K   -0.97%
19      19  Jan 27, 2015  46.23  45.13  46.55  44.81  313.14K    2.39%
20      20  Jan 28, 2015  44.45  45.83  45.83  44.08  365.44K   -3.85%
21      21  Jan 29, 2015  44.53  44.43  44.96  43.58  300.73K    0.18%
22      22  Jan 30, 2015  48.24  44.63  48.35  44.31  454.14K    8.33%
23      23  Feb 02, 2015  49.57  47.59  50.56  46.67  511.41K    2.76%
24      24  Feb 03, 2015  53.05  49.79  54.24  49.69  644.92K    7.02%
25      25  Feb 04, 2015  48.45  51.67  52.56  47.95  577.52K   -8.67%
26      26  Feb 05, 2015  50.48  48.67  52.10  47.36  596.85K    4.19%
27      27  Feb 06, 2015  51.69  50.86  53.16  50.72  584.98K    2.40%
28      28  Feb 09, 2015  52.86  52.01  53.99  51.65  536.36K    2.26%
29      29  Feb 10, 2015  50.02  52.43  52.65  49.86  501.70K   -5.37%
..     ...           ...    ...    ...    ...    ...      ...      ...
562     36  Feb 19, 2017  53.79  53.86  53.96  53.78        -    0.73%
563     37  Feb 20, 2017  53.97  53.78  54.24  53.73        -    0.33%
564     38  Feb 21, 2017  54.06  53.48  54.68  53.35   44.05K    0.17%
565     39  Feb 22, 2017  53.59  54.26  54.60  53.35  499.48K   -0.87%
566     40  Feb 23, 2017  54.45  53.91  54.94  53.87  529.88K    1.60%
567     41  Feb 24, 2017  53.99  54.33  54.51  53.76  395.26K   -0.84%
568     42  Feb 27, 2017  54.05  54.02  54.61  53.94  394.38K    0.11%
569     43  Feb 28, 2017  54.01  54.04  54.23  53.18  593.91K   -0.07%
570     44  Mar 01, 2017  53.83  53.95  54.44  53.63  491.29K   -0.33%
571     45  Mar 02, 2017  52.61  53.69  53.80  52.54  638.39K   -2.27%
572     46  Mar 03, 2017  53.33  52.58  53.39  52.55  436.36K    1.37%
573     47  Mar 06, 2017  53.20  53.19  53.56  52.76  503.69K   -0.24%
574     48  Mar 07, 2017  53.14  53.17  53.80  52.71  494.68K   -0.11%
575     49  Mar 08, 2017  50.28  52.79  52.92  50.05  963.39K   -5.38%
576     50  Mar 09, 2017  49.28  50.22  50.84  48.59    1.07M   -1.99%
577     51  Mar 10, 2017  48.49  49.61  50.11  48.31  796.96K   -1.60%
578     52  Mar 13, 2017  48.40  48.45  48.68  47.90  601.36K   -0.19%
579     53  Mar 14, 2017  47.72  48.45  48.79  47.09  857.71K   -1.40%
580     54  Mar 15, 2017  48.86  48.76  49.04  48.16  655.79K    2.39%
581     55  Mar 16, 2017  48.75  49.01  49.62  48.45  516.85K   -0.23%
582     56  Mar 17, 2017  48.78  48.79  49.20  48.60  172.34K    0.06%
583     57  Mar 20, 2017  48.22  48.70  48.74  47.84  142.26K   -1.15%
584     58  Mar 21, 2017  47.34  47.93  48.73  47.23   28.08K   -1.82%
585     59  Mar 22, 2017  48.04  48.16  48.32  47.01  680.85K    1.48%
586     60  Mar 23, 2017  47.70  48.15  48.48  47.58  499.88K   -0.71%
587     61  Mar 24, 2017  47.97  47.67  48.20  47.54  421.03K    0.57%
588     62  Mar 27, 2017  47.73  48.12  48.28  47.08  466.18K   -0.50%
589     63  Mar 28, 2017  48.37  47.89  48.74  47.80  502.38K    1.34%
590     64  Mar 29, 2017  49.51  48.47  49.63  48.38  548.62K    2.36%
591     65  Mar 30, 2017  50.35  49.60  50.47  49.27  580.67K    1.70%

[592 rows x 8 columns]

In [9]:
oil.drop('Open',axis=1,inplace=True)
oil.drop('High',axis=1,inplace=True)
oil.drop('Low',axis=1,inplace=True)
oil.drop('Vol.',axis=1,inplace=True)
oil.drop('Change %',axis=1,inplace=True)

ValueError: labels ['Change%'] not contained in axis

In [11]:
oil.drop('Change %', axis=1, inplace=True)

In [12]:
oil.head()

           Date  Price
0  Jan 01, 2015  54.56
1  Jan 02, 2015  52.69
2  Jan 05, 2015  50.04
3  Jan 06, 2015  47.93
4  Jan 07, 2015  48.65

In [13]:
oil['Oil Price'] = oil['Price']

In [14]:
oil.head()

           Date  Price  Oil Price
0  Jan 01, 2015  54.56      54.56
1  Jan 02, 2015  52.69      52.69
2  Jan 05, 2015  50.04      50.04
3  Jan 06, 2015  47.93      47.93
4  Jan 07, 2015  48.65      48.65

In [15]:
oil.drop('Price', axis=1, inplace=True)

In [16]:
oil.head()

           Date  Oil Price
0  Jan 01, 2015      54.56
1  Jan 02, 2015      52.69
2  Jan 05, 2015      50.04
3  Jan 06, 2015      47.93
4  Jan 07, 2015      48.65

In [17]:
sp = pd.concat([sp1, sp2, sp3, sp4, sp5])

In [19]:
sp.reset_index()

,index,Date,Price,Open,High,Low,Vol.,Change %
0,0,"Jan 01, 2015","2,058.95","2,051.65","2,059.15","2,051.65",-,0.31%
1,1,"Jan 02, 2015","2,046.25","2,055.00","2,067.25","2,038.75",1.36M,-0.62%
2,2,"Jan 05, 2015","2,016.00","2,045.75","2,048.25","2,009.50",2.03M,-1.48%
3,3,"Jan 06, 2015","1,994.50","2,019.00","2,023.50","1,984.25",2.35M,-1.07%
4,4,"Jan 07, 2015","2,019.50","1,996.50","2,023.75","1,995.75",1.76M,1.25%
5,5,"Jan 08, 2015","2,055.00","2,020.50","2,058.50","2,020.25",1.56M,1.76%
6,6,"Jan 09, 2015","2,035.25","2,053.75","2,062.00","2,031.25",1.91M,-0.96%
7,7,"Jan 12, 2015","2,022.50","2,034.50","2,048.25","2,015.25",1.62M,-0.63%
8,8,"Jan 13, 2015","2,016.00","2,023.75","2,051.75","2,001.00",2.50M,-0.32%
9,9,"Jan 14, 2015","2,007.50","2,017.25","2,019.50","1,981.25",2.52M,-0.42%
10,10,"Jan 15, 2015","1,989.00","2,009.75","2,027.25","1,978.25",2.26M,-0.92%
11,11,"Jan 16, 2015","2,013.00","1,980.75","2,014.25","1,970.25",2.02M,1.21%
12,12,"Jan 18, 2015","2,010.65","2,013.65","2,013.65","2,008.55",-,-0.12%
13,13,"Jan 19, 2015","2,009.95","2,010.45","2,023.65","2,003.15",-,-0.03%
14,14,"Jan 20, 2015","2,016.75","2,013.50","2,026.50","1,997.50",1.81M,0.34%
15,15,"Jan 21, 2015","2,026.50","2,015.75","2,032.75","2,005.25",1.64M,0.48%
16,16,"Jan 22, 2015","2,056.50","2,026.75","2,059.25","2,019.25",1.83M,1.48%
17,17,"Jan 23, 2015","2,044.00","2,056.50","2,062.50","2,042.25",1.35M,-0.61%
18,18,"Jan 26, 2015","2,053.50","2,035.00","2,055.00","2,025.50",1.26M,0.46%
19,19,"Jan 27, 2015","2,030.00","2,054.00","2,054.75","2,013.25",1.96M,-1.14%
20,20,"Jan 28, 2015","1,991.50","2,036.50","2,046.50","1,991.25",2.09M,-1.90%
21,21,"Jan 29, 2015","2,018.50","1,993.50","2,020.00","1,982.00",2.12M,1.36%
22,22,"Jan 30, 2015","1,988.50","2,019.25","2,020.50","1,986.25",2.35M,-1.49%
23,23,"Feb 02, 2015","2,017.00","1,990.50","2,018.50","1,973.75",2.04M,1.43%
24,24,"Feb 03, 2015","2,042.00","2,015.00","2,044.00","2,007.00",1.71M,1.24%
25,25,"Feb 04, 2015","2,030.00","2,040.50","2,049.25","2,022.75",1.70M,-0.59%
26,26,"Feb 05, 2015","2,055.00","2,025.00","2,058.75","2,020.75",1.34M,1.23%
27,27,"Feb 06, 2015","2,053.00","2,056.25","2,068.00","2,044.50",788.33K,-0.10%
28,28,"Feb 09, 2015","2,042.50","2,050.00","2,051.75","2,036.50",878.10K,-0.51%
29,29,"Feb 10, 2015","2,062.25","2,043.75","2,066.50","2,040.50",1.40M,0.97%
...,...,...,...,...,...,...,...,...
562,36,"Feb 19, 2017","2,347.50","2,346.75","2,348.00","2,346.25",-,-0.02%
563,37,"Feb 20, 2017","2,353.25","2,347.25","2,356.75","2,346.00",-,0.24%
564,38,"Feb 21, 2017","2,360.00","2,346.50","2,365.00","2,346.00",1.65M,0.29%
565,39,"Feb 22, 2017","2,361.00","2,360.00","2,363.75","2,355.25",1.30M,0.04%
566,40,"Feb 23, 2017","2,362.75","2,362.00","2,367.50","2,353.00",1.56M,0.07%
567,41,"Feb 24, 2017","2,365.00","2,361.50","2,365.75","2,349.50",1.55M,0.10%
568,42,"Feb 27, 2017","2,368.25","2,362.75","2,370.75","2,361.00",1.16M,0.14%
569,43,"Feb 28, 2017","2,362.75","2,365.75","2,368.75","2,357.50",1.61M,-0.23%
570,44,"Mar 01, 2017","2,393.50","2,364.50","2,401.00","2,363.25",2.17M,1.30%
571,45,"Mar 02, 2017","2,382.00","2,392.25","2,394.25","2,378.00",1.74M,-0.48%
572,46,"Mar 03, 2017","2,381.25","2,379.75","2,383.25","2,373.75",1.36M,-0.03%
573,47,"Mar 06, 2017","2,375.50","2,380.25","2,380.75","2,367.00",1.38M,-0.24%
574,48,"Mar 07, 2017","2,366.50","2,371.25","2,375.50","2,364.50",1.30M,-0.38%
575,49,"Mar 08, 2017","2,364.00","2,365.75","2,373.00","2,359.50",1.65M,-0.11%
576,50,"Mar 09, 2017","2,366.25","2,363.75","2,369.25","2,354.00",1.79M,0.10%
577,51,"Mar 10, 2017","2,371.75","2,367.50","2,379.75","2,362.25",1.36M,0.23%
578,52,"Mar 13, 2017","2,375.00","2,370.75","2,375.25","2,368.00",1.04M,0.14%
579,53,"Mar 14, 2017","2,366.50","2,374.00","2,374.75","2,358.00",952.37K,-0.36%
580,54,"Mar 15, 2017","2,383.75","2,367.00","2,390.50","2,366.50",621.38K,0.73%
581,55,"Mar 16, 2017","2,382.75","2,382.50","2,392.00","2,376.75",377.98K,-0.04%
582,56,"Mar 17, 2017","2,385.80","2,382.25","2,385.75","2,379.00",42.54K,0.13%
583,57,"Mar 20, 2017","2,370.25","2,373.75","2,376.00","2,365.50",1.08M,-0.65%
584,58,"Mar 21, 2017","2,342.25","2,369.00","2,378.75","2,338.00",2.57M,-1.18%
585,59,"Mar 22, 2017","2,342.50","2,340.50","2,348.75","2,332.25",1.88M,0.01%
586,60,"Mar 23, 2017","2,340.00","2,342.25","2,356.00","2,338.25",1.63M,-0.11%
587,61,"Mar 24, 2017","2,344.75","2,341.00","2,352.75","2,331.75",1.60M,0.20%
588,62,"Mar 27, 2017","2,338.50","2,337.00","2,341.50","2,317.75",1.61M,-0.27%
589,63,"Mar 28, 2017","2,351.50","2,340.50","2,360.50","2,333.50",1.62M,0.56%
590,64,"Mar 29, 2017","2,357.00","2,353.00","2,359.75","2,348.75",1.15M,0.23%
591,65,"Mar 30, 2017","2,364.50","2,357.00","2,366.75","2,353.25",1.16M,0.32%

In [20]:
sp.drop('Open',axis=1,inplace=True)
sp.drop('High',axis=1,inplace=True)
sp.drop('Low',axis=1,inplace=True)
sp.drop('Vol.',axis=1,inplace=True)
sp.drop('Change %',axis=1,inplace=True)

In [21]:
sp.head()

           Date     Price
0  Jan 01, 2015  2,058.95
1  Jan 02, 2015  2,046.25
2  Jan 05, 2015  2,016.00
3  Jan 06, 2015  1,994.50
4  Jan 07, 2015  2,019.50

In [23]:
sp['S&P Price'] = sp['Price']

In [24]:
sp.head()

           Date     Price S&P Price
0  Jan 01, 2015  2,058.95  2,058.95
1  Jan 02, 2015  2,046.25  2,046.25
2  Jan 05, 2015  2,016.00  2,016.00
3  Jan 06, 2015  1,994.50  1,994.50
4  Jan 07, 2015  2,019.50  2,019.50

In [25]:
sp.drop('Price', axis=1, inplace=True)

In [26]:
sp.head()

           Date S&P Price
0  Jan 01, 2015  2,058.95
1  Jan 02, 2015  2,046.25
2  Jan 05, 2015  2,016.00
3  Jan 06, 2015  1,994.50
4  Jan 07, 2015  2,019.50

In [27]:
df = pd.merge(oil, sp, how='inner', on='Date')

In [28]:
df.head()

           Date  Oil Price S&P Price
0  Jan 01, 2015      54.56  2,058.95
1  Jan 02, 2015      52.69  2,046.25
2  Jan 05, 2015      50.04  2,016.00
3  Jan 06, 2015      47.93  1,994.50
4  Jan 07, 2015      48.65  2,019.50

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592 entries, 0 to 591
Data columns (total 3 columns):
Date         592 non-null object
Oil Price    592 non-null float64
S&P Price    592 non-null object
dtypes: float64(1), object(2)
memory usage: 18.5+ KB

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592 entries, 0 to 591
Data columns (total 3 columns):
Date         592 non-null object
Oil Price    592 non-null float64
S&P Price    592 non-null object
dtypes: float64(1), object(2)
memory usage: 18.5+ KB

In [34]:
df['S&P Price'][7]

'2,022.50'

In [35]:
def conversion(dataframe):
    for x in range(0,591):
        dataframe['S&P Price'][x].replace(',','')

In [36]:
conversion(df)

In [37]:
df.head()

           Date  Oil Price S&P Price
0  Jan 01, 2015      54.56  2,058.95
1  Jan 02, 2015      52.69  2,046.25
2  Jan 05, 2015      50.04  2,016.00
3  Jan 06, 2015      47.93  1,994.50
4  Jan 07, 2015      48.65  2,019.50